// Uncomment to enable debugging wireframes
//@import "debug";

// Variables
@import "variables";


// Typography

html {
    font-family: 'museo-sans-rounded';
    font-size: .875rem; // 14px
    font-weight: 300;
    @media (min-width: 576px) { font-size: 1rem; }
    @media (min-width: 768px) { font-size: 1rem; }
    @media (min-width: 992px) { font-size: 1rem; }
    @media (min-width: 1200px) { font-size: 1rem; }
    @media (min-width: 1400px) { font-size: 1.1rem; }
}

p, span, div {
    font-family: 'museo';
}
input, button {
    font-family: 'museo-sans-rounded';
}
h1 {
    font-family: 'museo';
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.5rem;
    text-align: center;
    @media (min-width: 768px) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
h1.home-page {
    font-size: 3rem;
    line-height: 2.5rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .73), 0 2px 4px rgba(0, 0, 0, .19);
    @media (min-width: 768px) {
        font-size: 4.25rem;
        line-height: 3.5rem;
    }
}
h2 {
    font-family: 'museo-sans-rounded';
    font-size: 1.5rem;
    font-weight: 600;
    @media (min-width: 768px) { font-size: 1.75rem; }
}
h3 {
    font-family: 'museo';
    font-size: 1.2rem;
    font-weight: 500;
    @media (min-width: 768px) { font-size: 1.4rem; }
}
h4 {
    font-family: 'museo-sans-rounded';
    font-size: 1.1rem;
    font-weight: 500;
    @media (min-width: 768px) { font-size: 1.2rem; }
}
h5 {
    font-family: 'museo-sans-rounded';
    font-size: 1rem;
    font-weight: 500;
}

/*
 *
 */

.section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}
.section h2:first-child {
    margin-bottom: 15px;
    text-align: center;
}

.section-image {
    background-size: cover !important;
    height: 300px;
    @media (min-width: 576px) { height: 400px; }
    @media (min-width: 768px) { height: 500px; }
}

.section-image-sm {
    background-size: cover !important;
    height: 200px;
    @media (min-width: 576px) { height: 300px; }
    @media (min-width: 768px) { height: 400px; }
}

.section-image-xs {
    background-size: cover !important;
    height: 100px;
    @media (min-width: 576px) { height: 200px; }
    @media (min-width: 768px) { height: 300px; }
}

.tinker-with-us-image {
    @extend .section-image-xs;
    background: url('/images/14063438_538866749636743_140527491_n.jpg');
    background-position: 50% 40%;
}

.join-us-image {
    @extend .section-image;
    background: url('/images/Making-Chocolate.jpg');
    background-position: 100% 80%;
}

.whats-next-image {
    @extend .section-image;
    background: #ccccc9 url('/images/Screen-Shot-2016-09-18-at-6.01.43-PM.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain, auto !important;
}

/*
 *
 */

.feature-table {
    margin-bottom: 20px;
}
.feature-table h4:first-child {
    border-bottom: 1px solid lightgray;
    font-family: museo;
    font-weight: 300;
    text-align: center;
}
.feature-table li {
    font-family: museo;
    font-weight: 300;
    padding: 5px;
}
.product-card-price {
    border-top: 1px solid lightgray;
    font-weight: 300;
    text-align: center;
}

/*
 *
 */

.makerspace-image {
    margin-top: 30px;
    margin-bottom: 50px;
}

/*
 *
 */

.about-section {
    background-color: #f2f2f2;
    padding: 20px 0;
}
.mugshot-image {
    display: block;
    margin: 0 auto;
    border-radius: 70px;
}

/*
 * Account Home page
 */

#account-home {
    height: 100%;

    $padding-base: 15px;
    $color-body: #fff;
    $color-border: #ddd;
    $color-link: #0275d8;
    $border-radius: .25rem;
    $margin-sm: 1em;
    $margin-md: 2em;
    $margin-lg: 4em;

    .nav-tabs {
        &--vertical {
	    border-bottom: none;
	    border-right: 1px solid $color-border;
	    display: flex;
	    flex-flow: column nowrap;
            margin-top: $margin-sm;
        }
        
        &--left {
	    margin: 0 $margin-sm;

            @media (min-width: 576px) {
                margin: 0 $margin-md 0 $margin-md;
            }
            @media (min-width: 992px) {
                margin: 0 $margin-lg 0 $margin-lg;
            }

            .nav-item:first-child {
                margin-top: $margin-sm;
                @media (min-width: 576px) {
                    margin-top: $margin-md;
                }
                @media (min-width: 992px) {
                    margin-top: $margin-lg;
                }
            }
            
	    .nav-item + .nav-item {
	        margin-top: .25rem;
	    }
	    
	    .nav-link {
	        transition: border-color .125s ease-in;
	        white-space: nowrap;
	        
	        &:hover {
		    background-color: lighten($color-border, 10%);
		    border-color: transparent;
	        }
	    }
	    
	    .nav-link.active {
	        border-bottom-color: $color-border;
	        border-right-color: $color-body;
	        border-bottom-left-radius: $border-radius;
	        border-top-right-radius: 0;
	        margin-right: -1px;
	        
	        &:hover {
		    background-color: $color-body;
		    border-color: $color-link $color-body $color-link $color-link;
	        }
	    }
        }
    }
    .tab-content {
        margin: $margin-sm $margin-sm $margin-sm 0;
        width: 100%;
        @media (min-width: 576px) {
            margin: $margin-md $margin-md $margin-md 0;
        }
        @media (min-width: 992px) {
            margin: $margin-lg $margin-lg $margin-lg 0;
        }
    }
}

#pay-confirm-modal table {
    margin: 0 20px;
    width: calc(100% - 40px);

    tbody tr:first-child() th,
    tbody tr:first-child() td {
        border-top: none;
    }

    .modal-body-total {
        font-weight: 500;
    }
}
