// Uncomment to enable debugging wireframes
//@import "debug";

// Typography
@mixin load-otf($family, $weight: 300, $type: 'Regular', $style: normal) {
  @font-face {
    font-family: $family;
    src: url('/fonts/#{$family}#{$weight}-#{$type}.otf') format('opentype');
    font-weight: $weight;
    font-style: $style;
  }
}

// Local Fonts
@include load-otf('Museo', 300);
@include load-otf('Museo', 500);
@include load-otf('Museo', 700);
@include load-otf('Museo', 900);

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700);

$font-museo: 'Museo', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;

html {
    font-family: $font-quicksand;
    font-size: .875rem; // 14px
    font-weight: 300;
    @media (min-width: 576px) { font-size: 1rem; }
    @media (min-width: 768px) { font-size: 1rem; }
    @media (min-width: 992px) { font-size: 1rem; }
    @media (min-width: 1200px) { font-size: 1rem; }
    @media (min-width: 1400px) { font-size: 1.1rem; }
}

p, span, div {
    font-family: $font-museo;
    font-weight: 300;
}
p strong, span strong, div strong {
    font-weight: 500;
}
input, button {
    font-family: $font-quicksand;
}
h1 {
    font-family: $font-museo;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.5rem;
    text-align: center;
    @media (min-width: 768px) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
h2 {
    font-family: $font-quicksand;
    font-size: 1.5rem;
    font-weight: 600;
    @media (min-width: 768px) { font-size: 1.75rem; }
}
h3 {
    font-family: $font-museo;
    font-size: 1.2rem;
    font-weight: 500;
    @media (min-width: 768px) { font-size: 1.4rem; }
}
h4 {
    font-family: $font-quicksand;
    font-size: 1.1rem;
    font-weight: 600;
    @media (min-width: 768px) { font-size: 1.2rem; }
}
h5 {
    font-family: $font-quicksand;
    font-size: 1rem;
    font-weight: 600;
}

/*
 *
 */

.section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}
.section h2:first-child {
    margin-bottom: 15px;
    text-align: center;
}

.text-outline {
    text-shadow: -1px -1px 0 #000,
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}
